BusinessLayer/bin
DataAccessLayer/bin
BusinessLayer/obj
ServiceLayer/bin
Utilidades/obj
Utilidades/bin
ServiceLayer/obj
EntregaIndividual/obj
EntregaIndividual/bin
DataAccessLayer/obj
.vs/UdelarOnline/DesignTimeBuild
.vs/UdelarOnline/v16
applicationhost.config
appsettings.Development.json